// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.


// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.form-control {
  color: $black;
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

html, body {
overflow-x: hidden;
//height: 100%;
}

h1, .h1 {
font-size: 58px;
  @include breakpoint(xs) {
    font-size: 18px;
  }
font-weight: bold;
}

h1.page-header {
font-size: 36px;
  @include breakpoint(xs) {
    font-size: 18px;
  }
text-transform: uppercase;
text-align: center;
color: $white;
}

h2, .h2 {
font-size: 36px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
}

h4, .h4 {
  font-size: 24px;
  color: $blue;
}

h5, .h5 {
  font-size: 18px;
  color: $blue;
}

.navbar-collapse.collapse {
  background-color: $blue;
  border-top: 1px solid #fee300;
  border-bottom: 1px solid #fee300;
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-nav li {
  text-transform: uppercase;
}

.form-type-search {
  @include breakpoint(xs) {
    display: none;
  }
  float: right;
  width: 200px;
  clear: both;
  margin-top: -25px;
  margin-right: 40px;
    .js-form-submit {
      color: $black;
      background-color: $yellow;
    }
}
.navbar-nav {
  float: right;
  @include breakpoint(xs) {
    float: left;
  }
}

.user-account {
  margin-right: 15px;
}

.menu.nav.navbar-nav {
  @include breakpoint(sm) {
    position: relative;
  }
  @include breakpoint(md) {
    position: absolute;
    top: 85px;
    right: 80px;
  }
}

.sass-main-menu {
  @include breakpoint(sm) {
    position: relative;
  }
  @include breakpoint(md) {
    position: relative;
    right: -80px;
  }
}

.navbar-header {
  width: 100%;
}

.navbar-right {
  margin-top: -80px;
}

.navbar-toggle {
    @include breakpoint(xs) {
      margin-right: -25px;
    }
}

.nav > li > a {
  padding-bottom: 0px;
}

li.active > a {
  //text-decoration: underline;
  border-bottom: 2px solid $yellow;
  background-color: transparent !important;
}

.nav > li > a.is-active { 
  border-bottom: 2px solid $yellow;
  background-color: transparent !important;
}


a.logo {
  img {
    max-width: 800px;
    @include breakpoint(xs) {
      max-width: 300px;
    }
  }
}

.main-container {
  min-height: 300px;
  margin-top: -50px;
  margin-left: -15px;
  margin-right: -15px;
}

.path-frontpage > .main-container {
  margin-top: -90px;
}


.img-responsive {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
  }


.breadcrumb {
    margin-top: -50px;
    color: $white;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    a {
      color: $white;
    }
}

.page-node-type-article {
  .page-header {
      @include breakpoint(xs) {
        padding-top: 20px;
        margin-top: 30px;
        min-height: 30px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        margin-top: 30px;
        min-height: 100px;
      }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}


// front page slideshow

#front-page-flexslider-plane {
  background-color: transparent;
  background-image: url("../images/bg_1920x1080.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 6px solid $yellow;

  .flexslider {
      margin: 0px;
  }

  .flex-caption {
    text-transform: uppercase;
    //font-weight: bold;
    color: $white;

    @include breakpoint(xs) {
      font-size: 18px;
    }

    @include breakpoint(xs) {
      padding-top: 0px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @include breakpoint(md) {
      padding-top: 50px;
      padding-left: 100px;
      padding-right: 50px;
    }
  }

  .flex-control-nav {
      bottom: 10px;
  }

  .flex-control-paging {
    z-index: 10;
    li a {
          background: $yellow;
    }
   li a.flex-active {
          background: $yellow;
   }
  }

  .flex-direction-nav {
    display: none;
  }

}

.views-element-container.contextual-region.form-group {
  margin-bottom: 0px;
}


// Products highlighted //

#block-views-block-frontpage-block-2 {
  background-image: url("../images/product_slider_background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 6px solid $blue;
}

#front-page-flexslider-product {
  background-color: transparent;
  border: none;

    .flex-control-nav.flex-control-paging {
      display: none;
    }

    .views-field-body {
      width: 60%;
      @include breakpoint(xs) {
        width: 90%;
      }
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
}

.flexslider .slides img {
    width: auto;
    height: auto;
    margin: auto;
}


// Call to action //

#block-sass-custom-calltoactionmenu {
  background-color: $white;
  border-bottom: 6px solid $blue;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding-bottom: 15px;
  margin-top: -50px;
  @include breakpoint(xs) {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-left: -15px;
    margin-right: 0px;
  }
  @include breakpoint(md) {
  //  min-height: 150px;
    max-height: 150px;
  }

  .nav {
    @include breakpoint(xs) {
    }
    @include breakpoint(sm) {
      display: flex;
      padding-top: 40px;
      padding-bottom: 30px;
    }
    @include breakpoint(md) {
      display: flex;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  li {
    background-color: #0c5ecf;

    @include breakpoint(xs) {
      width: 100%;
      margin: 5px;
    }
    @include breakpoint(sm) {
      flex: 1; /*grow*/
      margin-right: 20px;
    }
    @include breakpoint(md) {
      flex: 1; /*grow*/
      margin-right: 20px;
    }
    @include breakpoint(lg) {
      flex: 1; /*grow*/
      margin-right: 20px;
    }
      a {
          color: $white;
          text-align: center;
      }
      a:hover, a:focus {
        background-color: #0c5ecf;
        color: $yellow;
      }
  }

}

// Our Services


//Store product-listing
.path-products {
  .page-header {
      @include breakpoint(xs) {
        padding-top: 20px;
        margin-top: 30px;
        min-height: 30px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        margin-top: 30px;
        min-height: 100px;
      }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

// Store icon
.cart--cart-block {
  white-space: nowrap;
  margin-top: -60px;
}

.cart-block--summary__icon {
  float: left;
}
.cart-block--summary__count {
  color: $white;
  display: inline-block;
  padding-top: 8px;
  padding-left: 5px;
}

// Store Sort and Filter block

#block-exposed-form-productspage-sort {
  //border-right: 1px solid $gray;
}

.bef-exposed-form .form--inline .form-item {
  float: left;
  clear: both;
}

legend {
  padding-top: 15px;
}


// Store unregestered user

.field--widget-commerce-product-variation-attributes {
  display: none;
}

// Store Admin

.user-logged-in {
  .main-container {
  }
}

.product-listing {
  border: 1px solid $gray;
}

.product-btn {
      clear: both;
      background-color: $blue;
      padding: 7px 13px;
      border-right: 1px solid $yellow;
      border-radius: 4px;
      float: left;
      a{
        color: $yellow;
        text-transform: uppercase;
      }
}

.btn {
    a:hover, a:focus {
        text-decoration: underline;
    }
}


//News Videos page node view

.page-node-type-article {

  .article-left > .field--name-node-post-date::before {
    display: inline-block;
    padding-right: 5px;
    font-family: "Glyphicons Halflings";
    //font-size: 20px;
    content:"\e109";
  }
    .field--name-node-title {
      float: left;
    }
    img {
      float: left;
      padding-bottom: 25px;
      padding-right: 15px;
    }
    .field--name-body {
      clear: both;
    }

  .field--name-dynamic-block-fieldnode-latest-news-field-block {
      padding-top: 80px;
    @include breakpoint(xs) {
      padding-top: 25px;
    }
  }
  .node--view-mode-block-latest-news-view {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .field--name-node-post-date {
    clear: left;
  }

}

// serviceable parts search 

.path-serviceable-parts-search {
  .page-header {
      @include breakpoint(xs) {
        padding-top: 20px;
        margin-top: 30px;
        min-height: 30px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        margin-top: 30px;
        min-height: 100px;
      }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }


  #views-exposed-form-serviceable-parts-search-page-1 {
    position: relative;
    margin: auto;
    @include breakpoint(xs) {
      width: 100%;
    }  
    width: 50%;
    padding: 10px;
    padding-bottom: 40px;

    .form--inline .form-inline {
      white-space: nowrap;
    }

    .select-wrapper, .form-type-textfield {
      padding-bottom: 10px;
    }

    .control-label {
      min-width: 90px;       
      text-align: end;
    }

    .form-inline .form-control {
      min-width: 200px;
      width: 200px;  
      margin-left: 15px;
    }

    .js-form-submit.form-submit {
      position: relative;
      padding-bottom: 10px;
      @include breakpoint(xs) {
        top: 0px;
        left: 200px;
      }
      @include breakpoint(md) {
        top: 40px;
        left: -90px;
      }      
    }
  }
    
    .pagination > li > a, .pagination > li > span {
      color: $black;
    }

    .pagination > .active > a {
      border-color: $black;
    }

    .feed-icons {
      display: none;
    } 
}

// schedule 

.path-scheduled-pickup-event {
  .page-header {
      @include breakpoint(xs) {
        padding-top: 20px;
        margin-top: 30px;
        min-height: 30px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        margin-top: 30px;
        min-height: 100px;
      }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}



//News Videos page list view

.ds-2col-fluid {
      @include breakpoint(xs) {
      }
      @include breakpoint(md) {
        padding-left: 25px;
        padding-right: 25px;
      }
}

.path-news-videos {
  .page-header {
      @include breakpoint(xs) {
        padding-top: 20px;
        margin-top: 30px;
        min-height: 30px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        margin-top: 30px;
        min-height: 100px;
      }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .news-video-row:nth-child(odd) {
    @include breakpoint(xs) {
    }
    @include breakpoint(md) {
      .group-left {
           display: flex;
           justify-content:flex-start;
         }
    }
  }

  .news-video-row:nth-child(even) {
    @include breakpoint(xs) {
    }
    @include breakpoint(md) {
      .group-left {
           display: flex;
           justify-content:flex-start;
           float: right;
         }
         .group-right {
           text-align: left;
         }
    }
  }

  .news-video-row {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid $gray;
    padding-top: 25px;
    padding-bottom: 25px;
    .group-left {
      @include breakpoint(xs) {
        float: none;
        width: 100%;
      }
    }

    .field--name-field-image {
        float: right;
      @include breakpoint(xs) {
        float: none;
      }
    }

    .field--name-node-post-date::before {
      display: inline-block;
      padding-right: 5px;
      font-family: "Glyphicons Halflings";
      //font-size: 20px;
      content:"\e109";
    }


    .group-right {
      @include breakpoint(xs) {
        float: none;
        width: 100%;
      }
    }
    .news-btn {
          clear: both;
          background-color: $blue;
          margin-top: 15px;
          padding: 7px 13px;
          border-right: 1px;
          border-radius: 4px;
          float: right;
    }

    a {
      color: $yellow;
    }
    a:hover, a:focus {
      text-decoration: underline;
      color: $yellow;
    }
  }
}

.news-video-row:last-of-type {
  border-bottom: 1px solid $white;
}

// Contact us page-header
.path-contact {

  .page-header {
    @include breakpoint(xs) {
      padding-top: 20px;
      margin-top: 30px;
      min-height: 30px;
    }
    @include breakpoint(md) {
      padding-top: 40px;
      margin-top: 30px;
      min-height: 100px;
    }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .webform-frame {
    background-color: $white;
    opacity: 0.9;
  }

  .asap-contact-us {
    margin-top: -26px;
    background-color: transparent;
    background-image: url("../images/contact_us_1920x1080.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .webform-info {
      padding-bottom: 15px;
    }
    .form-item-name {
      margin-left: -15px;
    }
    @include breakpoint(xs) {
      .form-item-phone {
        margin-left: -15px;
      }
    }
    .form-email {
      margin-left: -15px;
    }
    .form-item-company-name {
      margin-left: -15px;
    }
    .form-item-message {
      margin-left: -15px;
    }
    .form-actions {
      clear: both;
      padding-top: 15px;
    }
  }
  #block-views-block-client-call-us-block {
    text-align: center;
  }

  .business-contact {
    padding-bottom: 25px;
  }

}

// About Us page

.path-about {
  margin-top: -26px;
  background-color: transparent;
  background-image: url("../images/about_us_1920x1080.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .page-header {
      @include breakpoint(xs) {
        padding-top: 20px;
        margin-top: 30px;
        min-height: 30px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        margin-top: 30px;
        min-height: 100px;
      }
    background-color: transparent;
    background-image: url("../images/inside_header_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .page-frame {
    margin-top: -25px;
    min-height: 300px;
    padding: 25px;
    background-color: $white;
    opacity: 0.9;
  }

  .page-header {
    border-bottom: none;
  }

  .about-us {
    background-color: $white;
  }

  .about-us-items {
      padding-top: 25px;
      padding-bottom: 25px;
      .views-field-field-image-departments {
        min-height: 250px;
      }
  }

}

// Footer

.footer {
    background-color: $blue;
    color: $white;
    margin-top: 0px;

    #block-sass-custom-views-block-footer-logos-block-1 {
      margin-top: -40px;
    }

    @include breakpoint(xs) {
      #block-links, #block-sass-custom-views-block-client-footer-block-1, #block-userlogin, #block-sass-custom-views-block-footer-logos-block-1 {
          margin-top: 10px;
          padding-top: 10px;
          margin-left: -15px;
          margin-right: -15px;
          padding-bottom: 10px;
          border-top: 3px solid $yellow;
      }
      .asap-logo-footer {
        margin-top: -10px;
        padding-bottom: 10px;
      }
    }

    a {
      color: $yellow;
    }

  .business-contact {

    .address-line1::before {
      display: inline-block;
      width: 20px;
      padding-top: 15px;
      padding-right: 5px;
      font-family: "Glyphicons Halflings";
      //font-size: 20px;
      content:"\e062";
    }

      .address {
        margin-top: -20px;
        padding-bottom: 15px;
      }

      .organization {
        font-weight: bold;
      }

      .given-name, .family-name {
        display: none;
      }

      .locality {
        padding-left: 20px;
      }
      .country {
        display: none;
      }
      .contact::before {
        display: inline-block;
        width: 20px;
        padding-right: 5px;
        font-family: "Glyphicons Halflings";
        //font-size: 20px;
        content:"\e182";
      }
      .phone {
        padding-left: 20px;
      }
      .fax {
        padding-left: 20px;
        padding-bottom: 15px;
      }
      .email {
        padding-bottom: 15px;
      }

}

    .field--name-body {
      padding-left: 20px;
    }

    .block-user-login-block {
          p.login-title {
            text-transform: uppercase;
          }
    }


  .links-table {

      .title {
        text-transform: uppercase;
        padding-bottom: 20px;
      }
      tr {
        margin-top: 10px;
      }
      td {
          vertical-align: top;
      }
    }

    #block-links, .block-views-blockclient-footer-block-1, .block-user-login-block {
        height: 200px;
      @include breakpoint(xs) {
              height: auto;
          }
    }

    .form-item-name, .js-form-item-pass {
      color: $yellow;
    }

    .view-footer-logos .view-header {
      padding-bottom: 10px;
    }

    .member {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

}

@media screen and (min-width: 1400px) {
  .container {
    //width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    //width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
  //  width: 1870px;
  }
}
